body {
    font-family: 'Poppins', sans-serif;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    height: 100vh;
    background-image: url("./imagen.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item {
    width: 300px;
    height: 450px;
    background-color: white;
    margin: 8px;
    border-radius: 15px;
}

.header {
    height: 40%;
    width: 100%;
    background-image: url("./imagen.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    margin: 16px;
}