.title {
    background-color: aquamarine;
}

.aux {
    background-color: brown;
    color: white;
}

button:hover {
    height: 60px;
}

p {
    font-size: 24px ;
}

.text {
    background-color: teal;
}