.product-card {
    display: flex;
    border: 1px solid black;
    padding: 16px;
    max-width: 300px;
    cursor: pointer;
}

.product-card img {
    margin-right: 16px;
}

#products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}