.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.item {
    border: 1px solid black;
    padding: 16px;
}

.item .info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item .info label {
    color: green;
    font-weight: bold;
}

.item .info p {
    margin: 0;
}